<!DOCTYPE html>
<html lang="en" class="wbr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/img/logo 1.png">
	<title>WERENTBORNRICH</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="robots" content="index, follow">

	<link rel="stylesheet" type="text/css" href="/css/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/css/defaults.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/libs/jquery.easing.1.3.js"></script>
	<script src="/js/main.js"></script>
</head>

<body>
	<div class="logo"><a href="/"><img src="/img/logo 1.png"></a></div>
	<nav>
		<div class="link-group col-sm-10 dt-view">
			<a class="close-menu mb-view">&#10005;</a>
			<a href="/products" class="link expand col-sm-4" id="products">Products</a>
			<div class="sublist products-sublist">
				<a class="link" href="/products">View All</a>
				<a class="link" href="/products/tracksuits">Tracksuits</a>
				<a class="link" href="/products/t-shirts">T-Shirts</a>
				<a class="link" href="/products/jumpers">Jumpers</a>
				<a class="link" href="/products/hats">Hats</a>
				<a class="link" href="/products/shorts">Shorts</a>
			</div>
			<a href="/our-story" class="link col-sm-4" id="bio">Our Story</a>
			<a href="/contact" class="link col-sm-4" id="contact">Contact</a>
		</div>

		<a class="col-sm-2 cart" href="/cart"><i class="fas fa-shopping-cart"></i> <span class="count"><%= cart_count %></span></a>
		<a class="menu col-sm-1 mb-view" id="menu">Menu</a>
	</nav>
	<!-- <div id="toTop"><i class="fas fa-angle-up animate up"></i></div> -->
	<main>