<%_ include partials/header.ejs _%>

<section class="cart-view">
	<div class="heading">
		<div class="title">Cart Basket</div>
	</div>
	<div class="inner-body" style="padding: 0 50px 50px;">
		<div class="items-container">

			<div class="item">
				<div class="col-sm-3 item-img">I M G</div>

				<div class="col-sm-6 item-details fill-height">
					<div class="inner-group" style="position: relative;">
						<div class="item-name row">Title</div>
						<div class="item-sub-details row">
							<div class="item-size">Size: M</div>
							<div class="item-price">£15</div>
						</div>
					</div>
				</div>

				<div class="col-sm-3 item-options fill-height">
					<div class="col-xs-6 item-quantity fill-height">
						<div class="row" style="height: 80%">
							<div class="number centre">1</div>
						</div>
						<div class="row symbols" style="height: 20%">
							<div class="col-xs-6 fill-height">
								<div class="centre">-</div>
							</div>
							<div class="col-xs-6 fill-height">
								<div class="centre">+</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 item-remove fill-height">
						<div class="centre">&times;</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<%_ include partials/footer.ejs _%>