<%_ include partials/header.ejs _%>

<section class="contact">
	<div class="heading">
		<div class="title">Contact</div>
	</div>
	<div class="inner-body"></div>
	</div>
</section>

<%_ include partials/footer.ejs _%>