<%_ include partials/header.ejs _%>

<main class="homescreen index lg-img-theme">
	<%_ include partials/heading.ejs _%>
	<div class="inner-body strip">
		<div class="column font-color-2 col-md-6 info-container dt-view-md">
			<div class="slogan" style="position: absolute; width: 100%; height: 100%;">
				<div class="inner-textbody font-2 centreY" style="text-transform: uppercase; text-align: center;">
					<div style="margin-bottom: 4em">
						<a href="/products/tracksuits">Tracksuits</a> &emsp;&bull;&emsp; 
						<a href="/products/t-shirts">T-Shirts</a> &emsp;&bull;&emsp; 
						<a href="/products/jumpers">Jumpers</a> &emsp;&bull;&emsp; 
						<a href="/products/hats">Hats</a> &emsp;&bull;&emsp; 
						<a href="/products/shorts">Shorts</a>
					</div>
					<p>Remember</p>
					<p style="font-size: 1.5em">Stay active</p>
					<p style="font-size: 2.5em">Stay healthy</p>
					<p style="font-size: 4em">Stay rich</p>
					<p>Let your sense of style reflect your hustle</p>
				</div>
			</div>
		</div>

		<div class="column col-md-6 img-container">
			<div class="main-img">
				<div class="slideshow" id="index-reel">
					<div style="background-image: url('/img/products/product_image1.jpg');"></div>
					<div style="background-image: url('/img/products/product_image2.jpg');"></div>
					<div style="background-image: url('/img/products/product_image3.jpg');"></div>
				</div>
			</div>
			<div class="slogan overlay mb-view-md" style="position: absolute; width: 100%; height: 100%; background-color: rgba(25, 25, 25, .5); font-weight: bold">
				<div class="inner-textbody font-2 font-color-2 centreY" style="text-transform: uppercase; text-align: center;">
					<p>Remember</p>
					<p style="font-size: 1.5em">Stay active</p>
					<p style="font-size: 2.5em">Stay healthy</p>
					<p style="font-size: 4em">Stay rich</p>
					<p>Let your sense of style reflect your hustle</p>
				</div>
			</div>
		</div>
	</div>
</main>

<%_ include partials/footer.ejs _%>