<%_ include partials/header.ejs _%>

<section class="homescreen index lg-img-theme">
	<%_ include partials/section-heading.ejs _%>
	<div class="inner-body strip">
		<div class="column col-md-6 info-container dt-view-md">
			<div class="slogan" style="position: absolute; width: 100%; height: 100%; color: rgb(25, 25, 25); font-weight: bold">
				<div class="inner-textbody font-2 centreY" style="text-transform: uppercase; text-align: center;">
					<div style="margin-bottom: 4em">
						<a href="/products/tracksuits">Tracksuits</a> &emsp;&bull;&emsp; 
						<a href="/products/t-shirts">T-Shirts</a> &emsp;&bull;&emsp; 
						<a href="/products/jumpers">Jumpers</a> &emsp;&bull;&emsp; 
						<a href="/products/hats">Hats</a> &emsp;&bull;&emsp; 
						<a href="/products/shorts">Shorts</a>
					</div>
					<p style="font-size: 1.5em">Stay active</p>
					<p style="font-size: 2.5em">Stay healthy</p>
					<p style="font-size: 4em">Stay rich</p>
					<p>Let your sense of style reflect your hustle</p>
				</div>
			</div>
		</div>

		<div class="column col-md-6 img-container">
			<div class="main-img">
				<div class="slideshow" id="index-reel">
					<div class="filter" style="background-image: url('https://assets.bigcartel.com/theme_images/43824467/PHOTO-2018-08-15-14-23-50.jpg?auto=format&fit=max&w=1400');"></div>
					<div class="filter" style="background-image: url('https://assets.bigcartel.com/theme_images/43824458/PHOTO-2018-09-09-12-07-59.jpg?auto=format&fit=max&w=1400');"></div>
					<div class="filter" style="background-image: url('https://assets.bigcartel.com/theme_images/43824488/PHOTO-2018-08-25-00-48-59.jpg?auto=format&fit=max&w=1400');"></div>
				</div>
			</div>
			<div class="slogan overlay mb-view-md" style="position: absolute; width: 100%; height: 100%; background-color: rgba(25, 25, 25, .5); font-weight: bold">
				<div class="inner-textbody font-2 centreY" style="text-transform: uppercase; text-align: center;">
					<p style="font-size: 1.5em">Stay active</p>
					<p style="font-size: 2.5em">Stay healthy</p>
					<p style="font-size: 4em">Stay rich</p>
					<p>Let your sense of style reflect your hustle</p>
				</div>
			</div>
		</div>
	</div>
</section>

<%_ include partials/footer.ejs _%>