<%_ include partials/header.ejs _%>

<section class="products">
	<div class="heading">
		<div class="title"><%= headingTitle %></div>
	</div>
	<div class="category" id="tshirts">
		<div class="thumbs-container">

			<%_ if (clothingSection && clothingSection.length) { _%>
				<%_ clothingSection.forEach(row => { _%>
					<div class="row">
					<%_ row.forEach(thumb => { _%>
						<div class="thumb col-sm-4" style="display: none">
							<div class="inner-thumb">
								<div class="img" style="background-image: url('<%= thumb.imgSrc %>');"></div>
								<div class="details">
									<div class="row product-name"><%= thumb.productName %></div>
									<div class="row product-price">£<%= thumb.price %></div>
								</div>
							</div>
						</div>
					<%_ }) _%>
					</div>
				<%_ }) _%>
			<%_ } _%>

		</div>
	</div>
</section>

<%_ include partials/footer.ejs _%>