<%_ include partials/header.ejs _%>

<main class="checkout-success">
	<%_ include partials/heading.ejs _%>
	<div class="inner-body container">
		<p style="font-size: 2em">Thank you for your order!</p>
		<p>Your payment was a success</p>
		<p><a href="/products">Continue shopping?</a></p>
	</div>
</main>

<%_ include partials/footer.ejs _%>