@keyframes imgCrawl {
	from { background-position: top; }
	50% { background-position: bottom; }
	to { background-position: top; }
}

.filter {
	filter: contrast(1.4) contrast(.8) saturate(1.5);
}

.fill-height {
	height: 100%;
}

.search {
	position: absolute;
	top: 95px;
	right: 50px;
	width: 200px;
	transform: translateY(-2em);
	z-index: 1;
}

@media (min-width: 992px) {
	.search {
		top: 100px;
		right: 30px;
	}
}

.search form input {
	width: 100%;
	height: auto;
	padding-top: 0;
	padding-bottom: 0;
	background-color: rgb(25,25,25);
}

.search form input:focus {
	box-shadow: none;
	border-color: inherit;
}

.search form button {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	border: none;
}

.search .search-results {
	position: relative;
	display: block;
	top: -5px;
	width: 100%;
	padding-top: 5px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	z-index: -1;
}

.search .search-results.displayed {
	display: block;
	background-color: rgb(25, 25, 25);
}

.search .search-results > div {
	padding: 2px 12px;
}

nav {
	position: absolute;
	top: 20px;
	padding: 0 50px;
	width: 100%;
	text-transform: uppercase;
	text-align: right;
	font-weight: bold;
	z-index: 99;
}

nav .menu {
	padding: 0 0 20px 20px;
	color: rgb(25, 25, 25);
}

nav .link {
	display: block;
	margin: 1.5em 0;
}

nav .sublist {
	display: none;
	background-color: rgba(255, 255, 255, .2);
	padding: 0.075em 0;
}

nav .cart {
	color: rgb(25, 25, 25);
}

@media (min-width: 992px) {
	nav {
		top: 100px;
		left: 150px;
		transform: translateY(-1.5em);
		width: 400px;
		padding: 0;
		line-height: initial;
		text-align: left;
	}

	nav .link {
		margin: 0;
	}

	nav .cart {
		color: inherit;
	}
}

@media (max-width: 991px) {
	nav .link-group {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		text-align: center;
		padding: 20px 0;
		background-color: rgb(25, 25, 25);
		z-index: 2;
	}
}

.logo {
	position: absolute;
	top: 20px;
	left: 50px;
	width: 70px;
	height: 70px;
	background-color: rgb(25, 25, 25);
	border-radius: 100%;
	z-index: 10;
}

.logo img {
	position: relative;
	top: 50%;
	width: 100%;
	padding: 11px;
	transform: translateY(-50%);
	color: white;
	font-weight: bold;
	text-align: center;
	-webkit-filter: invert(1) grayscale(1) brightness(50%) sepia(100%) hue-rotate(12deg) saturate(400%) contrast(2);
	filter: invert(1) grayscale(1) brightness(50%) sepia(100%) hue-rotate(12deg) saturate(400%) contrast(2);
}

@media (min-width: 992px) {
	.logo {
		top: 100px;
		left: 30px;
		width: 100px;
		height: 100px;
		-webkit-transform: translateY(-65%);
		transform: translateY(-65%);
	}

	.logo img {
		padding: 15px;
	}
}

.close-menu {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px;
	font-size: 2em;
	text-align: center;
	cursor: pointer;
	z-index: 50;
	font-weight: bold;
}

main:not(.homescreen) > .inner-body {
	padding: 0 50px 50px;
}

main .heading {
	position: relative;
	background-color: rgb(255, 188, 0);
	margin-bottom: 2em;
	padding: 8em 50px 1em;
}

main.homescreen .heading {
	margin-bottom: 0
}

main .heading > div {
	color: white;
}

main .heading .title {
	color: rgb(25, 25, 25);
	font-weight: bold;
	font-size: 1.5em;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 2px;
}

@media (min-width: 992px) {
	main .heading {
		margin: 100px 0 2em;
		padding: 30px 60px;
	}
}

.homescreen > .inner-body {
    position: relative;
	height: calc(100vh - 9em);
}

.homescreen > .inner-body > .column {
	background-color: rgb(255, 188, 0);
}

.homescreen > .inner-body .img-container {
	height: 100%;
}

.homescreen .main-img {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.homescreen #index-reel {
	width: 100%;
	height: 100%;
}

.homescreen #index-reel > div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	animation: imgCrawl 3s infinite;
}

@media (min-width: 992px) {
	.homescreen > .inner-body {
		padding: 100px 0;
		height: 100vh;
	}

	.homescreen > .inner-body > .column {
		height: 100%;
	}

	.homescreen .main-img {
		top: -30px;
		bottom: -30px;
		left: 0px;
		right: 30px;
		width: auto;
		height: auto;
		margin-top: 0;
		border-radius: 0;
	}

	.homescreen .header {
		width: 0;
	}
}

.products .thumb {
	margin-bottom: 20px;
}

.products .img {
	height: 300px;
	background-size: cover;
	background-position: center;
	border-radius: 7px;
}

.products .details {
	padding: 10px 20px;
}

.products .details .product-price {
	text-align: right;
	font-size: 1.5em;
	font-weight: bold;
}

@media (min-width: 768px) {
	.products .thumb {
		margin-bottom: 0;
		padding: 10px;
	}
}

.our-story > .inner-body p {
	margin-bottom: 2em
}

@media (min-width: 768px) {
	.our-story .column {
		float: none;
		display: table-cell;
		padding: 0 30px;
	}
}

.product-view .inner-body {
	position: absolute;
	width: 100%;
	padding: 0 50px 50px
}

.product-view .main-img {
	height: 300px;
	margin: 0 -50px;
}

.product-view .main-img .img {
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.product-view .enlarge-img {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px 15px;
	cursor: pointer;
	background-color: rgba(0,0,0,.5);
	color: white;
	font-size: 1.5em;
}

.product-view .product-price {
	font-weight: bold;
}

@media (min-width: 768px) {
	.product-view .main-img {
		height: 400px;
		margin: 0;
	}

	.product-view .main-img .img {
		background-size: contain;
		background-position: center top;
	}

	.product-view .details {
		padding-left: 30px;
	}

	.product-view .product-price {
		margin-top: 0;
	}
}

.cart-view .item {
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 7px;
	background-color: rgba(255,255,255,0.1);
}

.cart-view .item .item-img {
	height: 200px;
	border-radius: 7px;
}

.cart-view .item-details {
	padding: 15px 0;
}

.cart-view .item-name,
.cart-view .item-price {
	font-weight: bold;
	font-size: 1.5em;
}

.cart-view .item-size {
	font-weight: bold;
}

.cart-view .item-name,
.cart-view .item-sub-details {
	text-align: center;
}

.cart-view .item .item-options {
	height: 100px;
}

.cart-view .item .item-options > * {
	height: 50%;
}

.cart-view .item-quantity .symbols,
.cart-view .item-quantity .number {
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}

.cart-view .item-quantity .symbols {
	cursor: pointer;
}

.cart-view .item-remove {
	font-weight: bold;
	color: rgb(25, 25, 25);
	background-color: rgb(255, 188, 0);
	text-align: center;
	cursor: pointer;
	border-radius: 7px;
}

.cart-view .total {
	text-align: center;
	font-size: 2em;
}

@media (min-width: 768px) {
	.cart-view .item {
		height: 200px;
	}

	.cart-view .item .item-img {
		height: 100%;
	}

	.cart-view .item-details .inner-group {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.cart-view .item-name,
	.cart-view .item-sub-details {
		text-align: left;
	}

	.cart-view .item .item-options {
		height: 100%;
	}

	.cart-view .item .item-options > * {
		height: 100%;
	}

	.cart-view .item-details {
		padding: 0 20px;
	}
}

.contact form {
	max-width: 500px;
}